* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.user-card {
    padding: 5px;
    text-align: left;
    background: #ccc;
    flex-grow: 1;
}