* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    /*background-color: darkgray;*/
}

.user-card {
    padding: 5px;
    /*border: 1px solid #ccc;*/
    text-align: left;
    background: #ccc;
}