* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
    transition: all 0.5s ease-out;
    text-decoration: none;
}

.head {
    padding: 15px;
    margin: 15px;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 5px;
    background: #ccc;
    width: 250px;
    height: 25px;

}

.link {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

.wrapper {
    padding-left: calc(50% - 670px);
    padding-right: calc(50% - 670px);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
    gap: 5px;
    position: relative;
    transition: 300ms;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    text-align: left;
    background: #ccc;
    border-radius: 10px;
}

.user-card-info {
    padding: 5px;
}

.user-info {
    padding: 5px;
}

.full-user-info {
    padding-bottom: 30px;
    text-align: center;
}

.card-buttons {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.card-button {
    padding: 5px;
    font-weight: bold;
}

.popup {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: dimgrey;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.user-popup-info {
    padding-left: calc(50% - 670px);
    padding-right: calc(50% - 670px);
    padding-bottom: 20px;
    opacity: 1;
    width: 100%;
    color: white;
}

.dog-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-wrapper {
    border-radius: 15px;
}